* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Sonsie One';
    src: url('./assets/fonts/SonsieOne-Regular.woff2') format('woff2'),
         url('./assets/fonts/SonsieOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shadows Into Light Two';
    src: url('./assets/fonts/ShadowsIntoLightTwo-Regular.woff2') format('woff2'),
         url('./assets/fonts/ShadowsIntoLightTwo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('./assets/fonts/CrimsonText-Regular.woff2') format('woff2'),
         url('./assets/fonts/CrimsonText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.reveal {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 1s, transform 1s;
}

.reveal.revealed {
    opacity: 1;
    transform: translateY(0);
}

header {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Sonsie One', 'Georgia';
    font-size: 3.5rem;
    color: rgb(250, 28, 28);
    text-shadow: 1px 1px #ffffff;
    text-align: center;
    margin: 0;
    padding: 25px 0;
}

.porschesvg {
    margin: 1rem 2rem;
    animation: spin-coin 3s linear infinite;
    transform-origin: center center;
}

@keyframes spin-coin {
    from {
        transform: perspective(1000px) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateY(360deg);
    }
}

main {
    background: black;
    text-align: center;   
}

.mainImg {
    display: block;
    margin: 0 auto;
    width: 45%;
}

.mainButton {
    font-family: "Shadows Into Light Two", serif;
    background: rgb(250, 28, 28);
    color: black;
    font-size: 2rem;
    padding: 10px;
    margin: 0 0 50px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #ffffff;
}

.mainButton:hover {
    background-color:#ffffff;
    color: black;
    transition: 0.4s;
    cursor: pointer;
}

.photoSection {
    background: white;
}

h2 {
    font-family: 'Sonsie One', 'Georgia';
    font-size: 3rem;
    color: rgb(250, 28, 28);
    text-shadow: 1px 1px black;
    text-align: center;
    margin: 0;
    padding: 25px 0;
    text-decoration: underline;
}

.photoGallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
}

.photoGallery img {
    border: 2px solid black;
    width: 45%;
    margin: 15px;
    border-radius: 5%;
    box-shadow: 0 0 10px red;
    cursor: pointer;
}

/*Modal container*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: black;
}

/*Modal content*/
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    height: 90%;
    object-fit: contain;
}

/*Caption of modal image*/
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 22px;
    color: rgb(250, 28, 28);
    padding: 10px 0;
}

/*Close button*/
.close {
    position: absolute;
    top: 15px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.4s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.beginning {
    text-align: center;
}

.beginning img {
    border: 2px solid black;
    display: block;
    margin: 20px auto;
    width: 30%;
    border-radius: 5%;
    box-shadow: 0 0 20px red;
}

.beginning p {
    font-family: 'Crimson Text', 'serif';
    font-size: 20px;
    text-align: center;
    margin: 20px 200px;
}

.tow {
    background: black;
}

.tow h2 {
    text-shadow: 1px 1px white;
}

.tow img {
    border: 2px solid red;
    display: block;
    margin: 20px auto;
    width: 50%;
    border-radius: 5%;
    box-shadow: 0 0 20px white;
}

.tow p {
    color: white;
    font-family: 'Crimson Text', 'serif';
    font-size: 20px;
    text-align: center;
    padding: 30px 200px;
}

.deliveryGallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.deliveryGallery img {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1s ease, transform 1s ease;
    border: 2px solid red;
    width: 30%;
    margin: 15px 0;
    border-radius: 5%;
    box-shadow: 0 0 10px white;
}

.deliveryGallery img.reveal {
    opacity: 1;
    transform: scale(1);
}

.teardown {
    background: white;
}

.teardownGallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 20px 0;
}

.teardownGallery img {
    border: 2px solid black;
    width: 30%;
    margin: 15px;
    border-radius: 5%;
    box-shadow: 0 0 10px red;
}

.blasted {
    background: black;
}

.blasted h2 {
    text-shadow: 1px 1px white;
}

.blasted p {
    color: white;
    font-family: 'Crimson Text', 'serif';
    font-size: 20px;
    text-align: center;
    padding: 20px 200px;
}

.blastedGallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
}

.blastedGallery img {
    border: 2px solid red;
    width: 40%;
    margin: 30px;
    border-radius: 5%;
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

.metal {
    text-align: center;
    margin: 20px 0;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.slideshow-container img {
    width: 70%;
    display: none;
    margin: auto;
    
}
.slideshow-container img.active {
    display: block;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
}
.next {
    right: 150px;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 150px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

footer {
    background: black;
    color: red;
    text-align: center;
    font-size: 18px;
}